body {
    background-color: black;
    color: #333;
  }
  .container-fluid{
    position: relative;
    background: black;
    color: #fff;
   width:100%;
   height:100vh;
   padding-top: 25px;
  }
  .row{
    padding-top: 20px;
  }
  .box{
    background: #413f3f;
    min-width:100px;
    padding: 15px 15px;
    border-radius: 10px;
  }
  .box h1{
    font-size: 1.5em;
  }
  .container-fluid .bi{
    position: absolute;
    left:48%;
    top: 50%;
    font-size: 2.5em;
  }
  .container{
    color: #fff;
    position: relative;
  }
  .contain{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
.dropdown .btn{
    font-size: 1.3em;
    margin-top: 11px;
    color: #fff;
    border: none;
}
a .icon{
  color: #fff;
}
.note{
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea{
  display: none;
  color: black;
  width: 100%;
  height: 300px;
  background: #fff;
  padding: 12px;
  border: none;
  outline: none;
  resize: none;
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.toolbar{
  background: #525252;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
button{
  padding: 8px 10px;
  border: none;
  outline: none;
  font-weight: 500;
}
::placeholder{
  color: black;
  font-size: 16px;
}
.new{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #525252;
  color: yellow;
  border-radius: 10px;
}